<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Launch_Control.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Launch_Control.My.MySettings>
            <setting name="LCS_IP" serializeAs="String">
                <value>192.168.1.33</value>
            </setting>
            <setting name="LCS_Port" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FCC_IP" serializeAs="String">
                <value>192.168.1.34</value>
            </setting>
            <setting name="FCC_Port" serializeAs="String">
                <value>5005</value>
            </setting>
            <setting name="OpMode" serializeAs="String">
                <value>Static</value>
            </setting>
            <setting name="LCS_Hostname" serializeAs="String">
                <value>ESB</value>
            </setting>
            <setting name="FCC_Hostname" serializeAs="String">
                <value>FCC</value>
            </setting>
            <setting name="Countdown" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Filename" serializeAs="String">
                <value>txt_events.txt</value>
            </setting>
        </Launch_Control.My.MySettings>
    </userSettings>
</configuration>
